<div class="nav navbar navbar-nav navbar-default">
  <nav class="container-fluid">
    <div class="navbar-header-left">

        ngEvents
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]='["/events"]'>All Events</a>
      <a routerLinkActive="active" [routerLink]='["/events/new"]'>Create Event</a>

    </div>
    <div class="navbar-header-right">
      <a *ngIf="!authService.isAuthenticated()" routerLinkActive="active" [routerLink]='["/user/login"]'>Login</a>
      <a *ngIf="authService.isAuthenticated()" routerLinkActive="active" [routerLink]='["/user"]'>
        Welcome  {{authService?.currentUser?.firstname}}!
      </a>
    </div>
  </nav>
</div>
